* {
	Box-sizing: border-box;
	font-family: 'Century Gothic Pro', sans-serif;
	
}


body {
	background: #ffffff;
	width: 100%;
	height: 100%;
}


img {
  Max-width: 100%;
  Height: auto;
}


.button {
  font-size: 13pt;
  color: #7ddb31;
}

	/* 768 */
	@media (min-width: 768px) {
	  .button {
	    font-size: 14pt;
	  }
	}


#rcorners {
  border-radius: 10px;
  border: 1px solid #DDDEE0;
  padding: 20px;  
}

#boxes {
  padding: 20px;  
}


/* typography
===================== */

H1 {
	Font-size: 26pt;
	Font-weight: 700;
	line-height: 1.25;
}

	/* 768 */
	@media (min-width: 768px) {
		H1 {
			Font-size: 34pt;
			margin: 0;
			padding: 0;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		H1 {
			Font-size: 34pt;
	  }
	}


H2 {
	Font-size: 19pt;
	Font-weight: 700;
	line-height: 1.25;
}

	/* 768 */
	@media (min-width: 768px) {
		H2 {
			Font-size: 30pt;
			margin: 0;
			padding: 0;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		H2 {
			Font-size: 30pt;
	  }
	}


H3 {
	Font-size: 15pt;
	Font-weight: 300;
	line-height: 1.25;
}

	/* 768 */
	@media (min-width: 768px) {
		H3 {
			Font-size: 16pt;
			line-height: 1.5;
	  }
	}


H5 {
	Font-size: 8pt;
	Font-weight: 300;
	line-height: 1.25;
	color: #878787;
}

	/* 768 */
	@media (min-width: 768px) {
		H5 {
			Font-size: 10pt;
	  }
	}


p {
	font-size: 11pt;
	Font-weight: 100; 
	line-height: 1.75;
}

	/* 768 */
	@media (min-width: 768px) {
		P {
			Font-size: 14pt;
	  }
	}


span {
	Font-weight: 100;
	Display: block;
	color: #7ddb31;
}


/* Other
===================== */

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}



/* header
===================== */

Header {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
	height: 85px;
	border-bottom: 1px solid  #dddee0;
}

	/* 768 */
	@media (min-width: 768px) {
		Header {
			height: 65px;
	  }
	}


.logo {
	position: fixed;
	Left: 0;
	Max-width: 190px;
	Height: auto;
	Margin-top: 45px;
	Margin-Left: 30px;
	Padding-bottom: 20px;
} 
	
	/* 768 */
	@media (min-width: 768px) {
		.logo {
			Margin-top: 22px;
			Margin-Left: 50px;
			Padding-bottom: 22px;
	  }
	}



/* hamburger menu
===================== */

a {
	text-decoration: none;
	color: #494949;
	transition: color 0.3s ease;
}

a:hover {
	color: #7adc17;
}

#menuToggle {
	display: block;
	position: absolute;
	Top: 45px;
	right: 30px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

	/* 768 */
	@media (min-width: 768px) {
		#menuToggle {
			Top: 20px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  #menuToggle {
	    display: none;
	  }
	}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
  	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 27px;
	height: 3px;
	margin-bottom: 5px;
	position: relative;
	background: #7adc17;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 2px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #7adc17;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: fixed;
	Top: 50;
	Left: 0;
	width: 100%;
	Height: 100%;
	margin: 25px 0 0 0;
	padding: 50px;
	padding-top: 30px;
	background: #ffffff;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 20px;
	line-height: 1.5;
	Text-align: Left;
}

#menuToggle input:checked ~ ul {
	transform: none;
	opacity: 1;
}

	/* 768 */
	@media screen and (max-width: 768px) {
		#menu {
			transform: none;
			opacity: 0;
			transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	  }
	}


/* Navigation Menu
==================== */

Navb ul {
	position: fixed;
	Right: 0;
	Margin-right: 30px;
	Margin-top: 10px;
	Padding: 0;
	List-style: none;
}

Navb li {
	Display: inline-block;
	Margin: 1em;
}

Navb a {
	Font-weight: 900;
	Text-decoration: none;
	Font-size: 15px;
}

	/* 1025 */
	@media screen and (max-width: 1025px) {
		navb {
			display: none;
	  }
	}



/* main
==================== */
	
	/* 1025 */
	@media (min-width: 1025px) {
		.main {
			flex: 1;
    		display: flex;
    		flex-direction: column;
    		justify-content: space-between;
    		align-items: center;
		}

	section {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-evenly;
    	align-items: center;
    	width: 100%;
		max-width: 1440px;
    	margin: 2rem 1rem;
		}
	}



/* home-hero
==================== */

.home-hero {
  margin-top: 90px; 
}

	/* 768 */
	@media (min-width: 768px) {
	  .home-hero {
		  margin-top: 120px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  .home-hero {
		  margin-top: 90px;
	  }
	}


.home-hero-textbox {
	Padding: .2em 0;
  	Color: #494949;
  	margin-right: 45px;
  	margin-left: 45px;
	margin-bottom: 30px;
	Text-align: center;
}

	/* 1025 */
	@media (min-width: 1025px) {
	  .home-hero-textbox {
		  Max-width: 500px;
		  text-align: left;
		  margin-left: 100px;
	  }
	}

.heroimg {
	Max-width: 340px;
  	Height: auto;
  	margin-top: 20px;
  	padding: 7px;
	margin: auto;
} 

	/* 768 */
	@media (min-width: 768px) {
		.heroimg {
			Max-width: 500px;
	    	Height: auto;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		.heroimg {
			Min-width: 500px;
			Max-width: 625px;
			Height: auto;
			padding-top: 2rem;
   	  }
	}
	




/* home-zbucks
==================== */

.home-zbucks {
	margin-top: 30px;
	margin-bottom: 75px;
} 

	/* 768 */
	@media (min-width: 768px) {
		.home-zbucks {
			margin-bottom: 75px;
   	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		.home-zbucks {
  			margin-top: 0px;
			margin-bottom: 75px;
   	  }
	}

.home-zbucks-textbox {
	Padding: .2em 0;
	Color: #494949;
	margin-right: 45px;
	margin-left: 45px;
	Text-align: center;
}

	/* 768 */
	@media (min-width: 768px) {
		.home-zbucks-textbox {
	  		margin-top: 0px;
		}
	}

	/* 1025 */
	@media (min-width: 1025px) {
		.home-zbucks-textbox {
	  		Max-width: 550px;
	  		text-align: left;
	  		margin-right: 100px;
		}
	}

.zbucksplatimg {
	Max-width: 350px;
	Height: auto;
	margin-top: 20px;
	margin: auto;

}

	/* 768 */
	@media (min-width: 768px) {
	  .zbucksplatimg {
		  Max-width: 565px;
		  margin: auto;
		  margin-top: 30px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  .zbucksplatimg {
		  Max-width: 565px;
		  margin-left: 50px;
		  margin-top: 40px;
	  }
	}



/* home-tztaccount
==================== */

.home-tztaccount {
	Padding-top: 40px;
	padding-bottom: 0px;
}

	/* 1025 */
	@media (min-width: 1025px) {
	  .home-tztaccount {
		  padding-bottom: 60px;
	  }
	}

.home-account-textbox {
	Padding: 0em 0;
	Color: #494949;
	margin-right: 45px;
	margin-left: 45px;
	Text-align: center;
}

	/* 1025 */
	@media (min-width: 1025px) {
	  .home-account-textbox {
		  Max-width: 600px;
		  text-align: left;
		  margin-left: 100px;
		  margin-top: 0px;
	  }
	}

.accountimg {
	width: 300px;
	Height: auto;
	margin-top: 20px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	margin: auto;
} 

	/* 768 */
	@media (min-width: 768px) {
	  .accountimg {
		  margin-top: 20px;
		  padding-top: 40px;
		  padding-left: 0px;
		  padding-right: 0px;
		  padding-bottom: 0px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  .accountimg {
		  margin-top: 0px;
		  Max-width: 500px;
		  margin-right: 250px;
		  padding: 0px;
		  
	  }
	}


/* home-aboutcard
==================== */

.home-aboutcard {
  	Padding-top: 0px;
  	padding-bottom: 0px;
	margin-top: 50px;
}
	
	/* 768 */
	@media (min-width: 768px) {
	  .home-aboutcard {
		  Padding-top: 25px;
		  padding-bottom: 0px;
		  margin-top: 50px;
	  }
	}

.home-cards-textbox {
	Padding: .2em 0;
	Color: #494949;
	margin-right: 45px;
	margin-left: 45px;
	Text-align: center;
}

	/* 1025 */
	@media (min-width: 1025px) {
	  .home-cards-textbox {
		  Max-width: 600px;
		  text-align: left;
		  margin-right: 100px;
	  }
	}

.aboutcardimg {
	Max-width: 250px;
	Height: auto;
	margin-top: 20px;
	padding: 7px;
	margin: auto;
	
} 

	/* 768 */
	@media (min-width: 768px) {
	  .aboutcardimg {
		  Max-width: 330px;
		  margin-left: 210px;
	  }
	}


/* home-tranzact
==================== */

.home-tranzact {
	Padding-top: 25px;
	padding-bottom: 0px;
}

	/* 768 */
	@media (min-width: 768px) {
		.home-tranzact {
			margin-top: -10px;
			max-width: 1000px;
	  }
	}

.home-transactup {
	Max-width: 340px;
	margin: auto;
	Margin-top: 0px;
}

	/* 768 */
	@media (min-width: 768px) {
	  .home-transactup {
		  Max-width: 485px;
	  }
	}

.home-tup-textbox {
	Color: #494949;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	Text-align: center;
}

.tupimg {
	Max-width: 100px;
	Height: auto;
	margin-top: 0px;
	padding-top: 25px;
	margin: auto;
} 



.home-transactback {
	Max-width: 340px;
	margin: auto;
	Margin-bottom: 60px;
}

	/* 768 */
	@media (min-width: 768px) {
	  .home-transactback {
		  Max-width: 485px;
	  }
	}

.home-tback-textbox {
	Color: #494949;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	Text-align: center;
}

.tbackimg {
	Max-width: 100px;
	Height: auto;
	margin-top: 0px;
	padding-top: 25px;
	margin: auto;
} 


/* home-knowledge
==================== */

.knowledge-container {
	background-color: #f7f7f7;
	width: 100%;
	padding-top: 20px;
		
}
	/* 768 */
	@media (min-width: 768px) {
	  .knowledge-container {
		  padding-top: 40px;
	  }
	}

.home-grey {
  	Padding-top: 40px;
  	padding-bottom: 30px;
	Max-width: 1440px;
	margin: auto;
}

	/* 768 */
	@media (min-width: 768px) {
	  .home-grey {
			Padding-top: 40px;
  			padding-bottom: 80px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  .home-grey {
			Padding-top: 40px;
  			padding-bottom: 60px;
	  }
	}

.home-knowledge-textbox {
  	Padding: 0em 0;
  	Color: #494949;
  	margin-right: 45px;
  	margin-left: 45px;
	Text-align: center;
}

	/* 1025 */
	@media (min-width: 1025px) {
		.home-knowledge-textbox {
			Max-width: 600px;
			text-align: left;
			margin-left: 100px;
			margin-top: 0px;
	  }
	}

.knowledgeimg {
	width: 300px;
	Height: auto;
	margin-top: 20px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	margin: auto;
} 

	/* 768 */
	@media (min-width: 768px) {
	  .knowledgeimg {
		  margin-top: 20px;
		  padding-top: 40px;
		  padding-left: 0px;
		  padding-right: 0px;
		  padding-bottom: 0px;		  
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  .knowledgeimg {
		  margin-top: 0px;
		  Max-width: 500px;
		  margin-right: 250px;
		  padding: 0px;
	  }
	}


.knowledge-sub {
	Padding-top: 25px;
	padding-bottom: 0px;
}

	/* 768 */
	@media (min-width: 768px) {
		.knowledge-sub {
			Padding-top: 0px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		.knowledge-sub {
			margin-top: -10px;
			max-width: 1000px;
			margin: auto;
	  }
	}


.home-education {
	Max-width: 340px;
	margin: auto;
	Margin-top: 0px;
}

	/* 768 */
	@media (min-width: 768px) {
	  .home-education {
		  Max-width: 485px;
	  }
	}

.education-textbox {
	Color: #494949;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	Text-align: center;
}

	/* 768 */
	@media (min-width: 768px) {
	  .education-textbox {
		  padding-bottom: 0px;;
	  }
	}

.educationimg {
	Max-width: 90px;
	Height: auto;
	margin-top: 0px;
	padding: 0px;
	margin: auto;
} 

	/* 768 */
	@media (min-width: 768px) {
	  .educationimg {
		  Max-width: 100px;
	  }
	}


.home-tools {
	Max-width: 340px;
	margin: auto;
	Margin-bottom: 60px;
}

	/* 768 */
	@media (min-width: 768px) {
	  .home-tools {
		  Max-width: 485px;
	  }
	}

.tools-textbox {
	Color: #494949;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	Text-align: center;
}

	/* 768 */
	@media (min-width: 768px) {
	  .tools-textbox {
		 padding-bottom: 50px;
	  }
	}


.toolsimg {
	Max-width: 90px;
	Height: auto;
	margin-top: 0px;
	padding: 0px;
	margin: auto;
} 

	/* 768 */
	@media (min-width: 768px) {
	  .toolsimg {
		  Max-width: 100px;
	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
	  .toolsimg {
		  Max-width: 100px;
	  }
	}


	/* ZClub Page
======================================= */

/* zclub banner
==================== */

.zclub-banner {
	margin-top: 80px;
	margin-bottom: 0px;
} 

	/* 768 */
	@media (min-width: 768px) {
		.zclub-banner {
			margin-top: 60px;
			margin-bottom: 0px;
   	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		.zclub-banner {
  			margin-top: 60px;
			margin-bottom: 20px;
   	  }
	}

	
/* zclub Hero
==================== */
.zclub-hero {
	margin-top: 30px;
	margin-bottom: 75px;
} 

	/* 768 */
	@media (min-width: 768px) {
		.zclub-hero {
			margin-bottom: 20px;
   	  }
	}

	/* 1025 */
	@media (min-width: 1025px) {
		.zclub-hero {
  			margin-top: 0px;
			margin-bottom: 30px;
   	  }
	}

	.z-club-hero-textbox {
		Padding: .2em 0;
		Color: #494949;
		margin-right: 45px;
		margin-left: 45px;
		Text-align: center;
	}

	.zbucksimgLeft {
		Max-width: 350px;
		Height: auto;
		margin-top: 20px;
		margin: auto;
	
	}
	
		/* 768 */
		@media (min-width: 768px) {
		  .zbucksimgLeft {
			  Max-width: 500px;
			  margin-left: 75px;
			  margin-right: 60px;
			  margin-top: 30px;
		  }
		}
	
		/* 1025 */
		@media (min-width: 1025px) {
		  .zbucksimgLeft {
			  Max-width: 600px;
			  margin-top: 40px;
			  margin-left: 100px;
			  margin-right: 30px;
		  }
		}


		.zclub-textboxRight {
			Padding: .2em 0;
			Color: #494949;
			margin-right: 45px;
			margin-left: 45px;
			Text-align: center;
		}
		
			/* 768 */
			@media (min-width: 768px) {
				.zclub-textboxRight {
					  margin-top: 0px;
				}
			}
		
			/* 1025 */
			@media (min-width: 1025px) {
				.zclub-textboxRight {
					  Max-width: 550px;
					  text-align: left;
					  margin-right: 100px;
				}
			}



		.zbucksimgRight {
			Max-width: 350px;
			Height: auto;
			margin-top: 20px;
			margin: auto;
		
		}
		
			/* 768 */
			@media (min-width: 768px) {
			  .zbucksimgRight {
				  Max-width: 500px;
				  margin: auto;
				  margin-top: 30px;
			  }
			}
		
			/* 1025 */
			@media (min-width: 1025px) {
			  .zbucksimgRight {
				Max-width: 600px;
				margin-top: 40px;
				margin-right: 75px;
				margin-left: 30px;
			}
		  }
	
	
			.zclub-textboxLeft {
				Padding: .2em 0;
				Color: #494949;
				margin-right: 45px;
				margin-left: 45px;
				Text-align: center;
			}
			
				/* 768 */
				@media (min-width: 768px) {
					.zclub-textboxLeft {
						  margin-top: 0px;
					}
				}
			
				/* 1025 */
				@media (min-width: 1025px) {
					.zclub-textboxLeft {
						  Max-width: 550px;
						  text-align: left;
						  margin-Left: 175px;
					}
				}


			

/* footer
==================== */

.footer {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin-top: 10rem;
    min-height: 20rem;
}

.logoimg {
  	Max-width: 50%;
  	Height: auto;
  	margin-top: 40px;
  	padding: 7px;
	Padding-top: 10px;
	margin: auto;
} 

	/* 768 */
	@media (min-width: 768px) {
	  .logoimg {
		  Max-width: 340px;
		  Padding-top: 80px;
	  }
	}

